<div #wr class="wrapper">
    <div #ct (click)="toggleChat()" class="chat-tab">
        <h1>Advisory Board</h1>
    </div>
    <div #cc class="chat-container">
        <div *ngFor="let m of messages;">
            {{ m.id + ': ' + m.message }}
        </div>
    </div>
    <div #ci class="chat-inputs row no-gutters" [ngClass]="{'hide-ci': hide}">
        <input class="col-md-10" #message (keyup)="$event.which === 13 ? sendMessage() : 0" type="text" placeholder="Enter Text Here" />
        <button class="btn btn-primary col-md-2" (click)="sendMessage()">Send</button>
    </div>
</div>