.wrapper {
    width: 50vw;
    position: fixed;
    background-color: #2af2f2;
    bottom: 0px;
    overflow-y: scroll;
    max-height: 100vh;
    transition: max-height .5s;

    .chat-container > div:not(:first-child) {
        border-top: 1px solid rgba(0,0,0,50)
    }

    .chat-tab {
        position: sticky;
        left: 100%;
        top: 0px;
        border: dotted 5px black;
        background-color: inherit;

        h1 {
            text-align: center;
        }
    }

    .chat-inputs {
        position: sticky;
        bottom: 0;
        transition: display .5s;
    }

    .hide-ci {
        display: none;
    }
}