section {
    position: fixed;
    top: 0;
    right:0;
    padding-right: 10px;
    padding-top: 10px;
    color:white;

    div:not(:last-child) {
        border-bottom: solid white 1px;
    }
}

iframe {
    position: fixed;
    border: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    z-index: -1;
}

.vote {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}