<wi-alerts>
</wi-alerts>
<div class="vote">
  <h1>
    <a href="https://createathon.finra.org/display/CREATE2017/Voting" target="_blank">Vote for Team One Punch Man Here!</a>
  </h1>
</div>
<wi-chat *ngIf="ws.connected"></wi-chat>
<div class="container" *ngIf="!ws.connected">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-4">
      <div [forceEvalStyles]="true" [inlineSVG]="'/assets/shield.svg'">
      </div>
      <div>
        <h1 style="text-align:center;">
          WINRA
        </h1>
      </div>
      <div class="row form-inline justify-content-center ">
        <input maxlength="10" class="form-control" #userId type="text" (keyup)="$event.which === 13 ? createConnection() : 0" placeholder="Enter User Name"
        />
        <button class="btn btn-primary" #logButton (click)="createConnection()">Login</button>
      </div>
    </div>

  </div>
</div>

<section *ngIf="peopleOnline && peopleOnline.length > 0 && ws.connected">
  <h4>Online</h4>
  <div *ngFor="let person of peopleOnline">
    {{ person }}
  </div>
</section>
<iframe #frame  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" >Your browser doesn't support iFrames.</iframe>
<router-outlet></router-outlet>