<div class="alerts-container">
  <ngb-alert *ngFor="let alert of alerts" [type]="alert.type" (close)="closeAlert(alert)">
    <p style="text-align:center">
      {{ alert.title }}
    </p>
    <h4 style="text-align:center">
      {{ alert.message }}
    </h4>
  </ngb-alert>
</div>